# Task 2:
# Question 1.
# How-to-count-distance-to-the-previous-zero For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer).
# create a new column 'Y'
# Consider a DataFrame df where there is an integer column 'X'
# import pandas as pd
# df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [3]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [4]:
# make a new column with zeros at zeros and nans elsewhere
df = df.assign(idx_from_0=df.loc[df.X==0])

In [5]:
df

   X  idx_from_0
0  7         NaN
1  2         NaN
2  0         0.0
3  3         NaN
4  4         NaN
5  2         NaN
6  5         NaN
7  0         0.0
8  3         NaN
9  4         NaN

In [6]:
nul = df['idx_from_0'].isnull()

In [7]:
nul

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
8     True
9     True
Name: idx_from_0, dtype: bool

In [16]:
a = [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]
distance = [([0]+a)[:idx][::-1].index(0) for idx in range(1, len(a)+2)][1:]
print(distance)

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

# Question_2 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.